<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AJAX bookmarks</title>
</head>
<body onload="selectTitle()">
    <h1>Vali leht</h1>
    <a href="#create">Loomine</a>
    <a href="#landing">Pealeht</a>
    <h2 id="title"></h2>

    <script>
        window.onhashchange = selectTitle;
        function selectTitle() {
            if(location.hash === "#create")
                getTitle("/create");
            else if (location.hash === "#landing")
                getTitle("/")
        }

        function getTitle(url) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    document.getElementById("title").innerHTML =
                    this.responseText;
                }
            }
            xhr.open("GET", url);
            xhr.send();
        }
    </script>
</body>
</html>