{% extends "vrl_base.html" %}
{% block content %}

<!--Initiative form-->

    <div id="initiative" class="container">
      <h1> Create your Initiative! </h1>
      <form>
        <ol>
          <div class="form-group">
            <li><label for="name">What initiative do you want to announce?</label></li>
            <input type="text" class="form-control" id="name">
            <p> The text should be specific. E.g. "Increase amount of parking lots near Philosophicum"
          </div>

          <div class="form-group">
            <li><label for="comment">What you don't like in current state?</label></li>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <p> Identify the problem. Write why is current state dissatisfy you and should be improved. </p>
          </div>

          <div class="form-group">
            <li><label for="improvement">How your initiative will improve University life?</label></li>
            <textarea class="form-control" rows="5" id="improvement"></textarea>
            <p> Write what will change with your idea. Elicit response in others! </p>
          </div>
        </ol>
        <div id="browse" class="col-md-6">
          <div class="form-group">
              <label>Add a photo</label>
              <div class="input-group">
                  <span class="input-group-btn">
                      <span class="btn btn-default btn-file">
                          Browse… <input type="file" id="imgInp">
                      </span>
                  </span>
                  <input type="text" class="form-control" readonly>
              </div>
              <img id='img-upload'/>
          </div>
        </div>
      </form>
      <input type="submit" class="btn btn-default btn-block" value="Submit">
    </div>  <!--container-->

{% endblock %}
