{% extends "vrl_base.html" %}
{% block content %}


<!--ALL INITIATIVES-->

    <div id="all" class="container">
      <h1> Initiatives </h1>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#popular">Popular</a></li>
        <li><a data-toggle="tab" href="#newest">Newest</a></li>
      </ul>

      <div class="tab-content">
        <div id="popular" class="tab-pane fade in active">
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#today">Today</a></li>
            <li><a data-toggle="pill" href="#week">This week</a></li>
            <li><a data-toggle="pill" href="#alltime">All time</a></li>
          </ul>

          <div class="tab-content">
            <div id="today" class="tab-pane fade in active">
              <div class="row">
                <ul class="list-unstyled">
                  <li class="media">
                    <div class="col-md-3"><img class="d-flex mr-3"
                      src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                      <h3> Initiative nr.1 </h3>
                      <p> Description </p>
                    </div>
                  </li>
                  <li class="media my-4">
                    <div class="col-md-3"><img class="d-flex mr-3"
                      src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                      <h3> Initiative nr.1 </h3>
                      <p> Description </p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="col-md-3"><img class="d-flex mr-3"
                      src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                      <h3> Initiative nr.1 </h3>
                      <p> Description </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>  <!--today-->

            <div id="week" class="tab-pane fade">
              <div class="row">
                <ul class="list-unstyled">
                  <li class="media">
                    <div class="col-md-3"><img class="d-flex mr-3"
                      src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                      <h3> Initiative nr.1 </h3>
                      <p> Description </p>
                    </div>
                  </li>
                  <li class="media my-4">
                    <div class="col-md-3"><img class="d-flex mr-3"
                      src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                      <h3> Initiative nr.1 </h3>
                      <p> Description </p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="col-md-3"><img class="d-flex mr-3"
                      src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                      <h3> Initiative nr.1 </h3>
                      <p> Description </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>  <!--week-->

            <div id="alltime" class="tab-pane fade">
              <div class="row">
                <ul class="list-unstyled">
                  <li class="media">
                    <div class="col-md-3"><img class="d-flex mr-3"
                      src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                      <h3> Initiative nr.1 </h3>
                      <p> Description </p>
                    </div>
                  </li>
                  <li class="media my-4">
                    <div class="col-md-3"><img class="d-flex mr-3"
                      src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                      <h3> Initiative nr.1 </h3>
                      <p> Description </p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="col-md-3"><img class="d-flex mr-3"
                      src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                      <h3> Initiative nr.1 </h3>
                      <p> Description </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>  <!--ALLTIME-->
          </div>  <!--tab-content-->
        </div>  <!--POPULAR-->

        <div id="newest" class="tab-pane fade">
          <div class="row">
            <ul class="list-unstyled">
              <li class="media">
                <div class="col-md-3"><img class="d-flex mr-3"
                  src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                </div>
                <div class="media-body">
                  <h3> Initiative nr.1 </h3>
                  <p> Description </p>
                </div>
              </li>
              <li class="media my-4">
                <div class="col-md-3"><img class="d-flex mr-3"
                  src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                </div>
                <div class="media-body">
                  <h3> Initiative nr.1 </h3>
                  <p> Description </p>
                </div>
              </li>
              <li class="media">
                <div class="col-md-3"><img class="d-flex mr-3"
                  src="../static/images/anatoomikum.jpg" alt="Generic placeholder image">
                </div>
                <div class="media-body">
                  <h3> Initiative nr.1 </h3>
                  <p> Description </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>  <!--container-->

    <nav aria-label="Pages">
      <ul class="pager">
        <li><a href="#" label="Previous page">Previous</a></li>
        <li><a href="#" label="Next page">Next</a></li>
      </ul>
    </nav>

{% endblock %}
