
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">UT-IP</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'create' %}">Create Initiative</a></li>
                <li><a href="{% url 'petitions' %}">All Initiatives</a></li>
                <li><a href="{% url 'results' %}">Results</a></li>
                <li class="login"><a href="{% url 'login' %}">Log in</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

  {% block content %}{% endblock %}

 <!-- FOOTER -->
    <nav class="nav navbar-inverse">
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <h2>UT-IP</h2>
              <p><a href="/about"> About UT-IP</a></p>
              <p><a href="#"> How does UT-IP work</a></p>
              <p><a href="/results"> Results</a></p>
            </div>
            <div class="col-lg-4">
              <h2>Support</h2>
              <p><a href="http://www.tyye.ee/en"> UT Student Council</a></p>
            </div>
          </div>
        </div>
      </footer>
    </nav>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        if (typeof $.carousel === 'undefined') {
            document.write('<script src="../static/js/bootstrap.min.js">\x3C/script>');
        }
    </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
