/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-family: 'Oswald', sans-serif;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  width: auto;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 25px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  height: 140px;
  padding: 0;
}
.navbar-brand{
  font-size: 90px;
  margin-top: 35px;
  padding-left: 125px;
}

/* Initiative Form */

#all h1{
  font-size: 40px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 30px;
}

#all .nav-tabs{
  font-size: 30px
}

#popular {
  font-size: 23px;
}

.tab-content img{
  height: 106.75px;
  width: 189px;
  border-radius: 5px;
  margin-left: 10px;
}

.tab-content {
  margin-top: 20px;
}

.tab-content li{
  padding-bottom: 10px;
}

/* Footer */

.footer {
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  background-color: black;
  border-top: 1px solid #B9B9B9;
}

.footer .container {
  padding-top: 20px;
  text-align: center;
  font-size: 17px;
  color: white;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  /*.navbar-wrapper {
    margin-top: 0px;
  }*/
  /*верхний бар по краям*/
  .navbar-wrapper .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-wrapper .navbar {
    padding-right: 10px;
    padding-left: 50px;
  }

  .nav {
    margin-top: 40px;
    padding-left: 75px;
  }

  .login {
    padding-left: 450px;
  }
