body {
	background-color: #F5EFEF;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica, Arial;
}

.round{
	border: 2px solid;
	border-radius: 8px;
	border-color: black;
}

.bottom{
	border-bottom: 2px solid;
}

h3{
	font-size: 30;
}

a {
	text-decoration: none;
}

#header {
	text-align: center;
	padding: 15px;
	background-color: #1682EE;
}

#title {
	font-size: 40;
}

#path {
	float: left;
	margin-top: 10px;
	font-size: 25;
}

#login {
	float: right;
	margin-top: 10px;
	font-size: 25;
}

#language {
	text-align: right;
	margin-top: 10px;
}

#questions {
	font-size: 30px;
}

#questions a{
	padding: 25px 45px 25px 45px;
}

#how{
	margin-left: 380px;
}

#why{
	margin-top: 30px;
	margin-left: 310px;
}

#results{
	margin-left: 860px;
	margin-top: 10px;
}

#content {
	padding: 50px;
}

#popular {
	text-align:center;
	background-color:#FFFFFF;
	width: 600px;
	float: left;
}

#other {
	background-color:#FFFFFF;
	width: 600px;
	float: right;
}

#footer {
	padding-top: 20px;
	clear: both;
}

#new {
	float: right;
}

#info {
	float: left;
}



